* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
    font-size: 20px;
    width: 100v;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    flex-wrap: wrap;
}

header div ul {
    display: flex;
    padding: 24px;
    font-size: 23px;
}

header div ul li {
    padding: 8px;
    list-style: none;
}

.contenedor {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.contenedor div {
    margin: 20px;
}

.imagen-y-parrafo {
    position: relative;
}

.imagen-y-parrafo p {
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 24px;
    color: red;
    font-weight: bold;
}

.contenedor-texto {
    display: flex;
    font-weight: bold;
}

.podio {
    color: red;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    height: 120px;
    align-items: center;
}

@media screen and (max-width:450px) {

    .imagen-principal {
        width: 366px;
    }

    header div ul {
        font-size: 18px;
    }

    }


    @media screen and (max-width:350px) {
        
        header, footer {
            width: 350px;
            position: relative;
            right: 15px;
        }

        .imagen-principal {
            width: 300px;
            margin-left: 17px;
        }

        .imagen-y-parrafo p {
            font-size: 21px;
            margin-left: 17px;
        }

        .podio {
            text-align: center;
            font-size: 30px;
            padding-left: 15px;
            color: red;
            font-weight: bold;
        }

}